@model WebSellFlower.Models.TblProduct

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBestSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBestSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdThumb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdThumb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdImg1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdImg1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdImg2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdImg2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdImg3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdImg3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryProd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryProd.CategoryProdId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
