@model IEnumerable<WebSellFlower.Controllers.CartItem>
@{

    double total = Model != null ? Model.Sum(item => item.TotalPrice) ?? 0 : 0;
}


    <div class="mkdf-shopping-cart-inner">
        <a itemprop="url" class="mkdf-header-cart" href="~/cart">
            <span class="mkdf-cart-icon-number-holder">
                <span class="mkdf-cart-icon">
                    <i class="mkdf-icon-dripicons dripicon dripicons-shopping-bag "></i>
                </span>
                <span class="mkdf-cart-number">@(@Model?.Count() ?? 0)</span>
            </span>
            <span class="mkdf-cart-icon-text">CART</span>
            <span class="mkdf-cart-info">
                <span class="mkdf-cart-info-total">
                    (<span class="woocommerce-Price-amount amount">
                        <span class="woocommerce-Price-currencySymbol">&#036;</span>@total
                    </span>)
                </span>
            </span>
        </a>

        <div class="mkdf-shopping-cart-dropdown">
            @if (Model != null && Model.Any())
            {
                <ul>
                    @foreach (var item in Model)
                    {
                    string sUrl = $"/product/{item.Alias}-{item.ProdId}.html";
                        <li> 
                            <div class="mkdf-item-image-holder">
                            <a itemprop="url" href="@sUrl">
                                    <img width="300" height="400" src="@item.ProdThumb"
                                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="k"> </a>
                            </div>
                            <div class="mkdf-item-info-holder">
                                <h6 itemprop="name" class="mkdf-product-title"><a itemprop="url"
                                   href="@sUrl">@item.ProdName</a>
                                </h6>
                                <span class="mkdf-quantity">@item.Quantity</span>
                                <span class="woocommerce-Price-amount amount"><bdi><span
                                            class="woocommerce-Price-currencySymbol">$</span>@item.ProdPrice</bdi></span> <a role="button"
                                    class="remove remove_item_ajax" title="Remove this item" data-product_id="@item.ProdId"><span class="icon-arrows-remove"></span></a>
                            </div>
                        </li>
                    }

                    <div class="mkdf-cart-bottom">
                        <div class="mkdf-subtotal-holder clearfix">
                            <span class="mkdf-total">TOTAL:</span>
                            <span class="mkdf-total-amount">
                                <span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">$</span>@total</span> </span>
                        </div>
                        <div class="mkdf-btn-holder clearfix">
                            <a itemprop="url" href="~/Cart" class="mkdf-view-cart"
                                data-title="VIEW CART"><span>VIEW CART</span></a>
                        </div>
                        <div class="mkdf-btn-holder clearfix">
                            <a itemprop="url" href="~/Checkout" class="mkdf-view-cart"
                                data-title="CHECKOUT"><span>CHECKOUT</span></a>
                        </div>
                    </div>
                </ul>
            }
            else
            {
                <ul>
                    <li class="mkdf-empty-cart">No products in the cart.</li>
                </ul>
            }

        </div>
    </div>

