@model TblPost
@{
	List<TblPost> bloglist = ViewBag.bloglist;
}

<div class="mkdf-content-inner">
	<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle"
		 style="height: 225px;background-color: #fafaf9" data-height="225">
		<div class="mkdf-title-wrapper" style="height: 225px">
			<div class="mkdf-title-inner">
				<div class="mkdf-grid">
					<h1 class="mkdf-page-title entry-title">Blog List</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="mkdf-full-width">
		<div class="mkdf-full-width-inner">
			<div class="mkdf-grid-row">
				<div class="mkdf-page-content-holder mkdf-grid-col-12">
					<section class="wpb-content-wrapper">
						<div class="vc_row wpb_row vc_row-fluid vc_custom_1526981393973 vc_row-has-fill">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner">
									<div class="wpb_wrapper">
										<div class="mkdf-row-grid-section-wrapper ">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_inner vc_row-fluid">
													<div class="wpb_column vc_column_container vc_col-sm-12">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div class="mkdf-blog-list-holder mkdf-bl-boxed mkdf-bl-three-columns mkdf-medium-space mkdf-bl-pag-no-pagination mkdf-bl-image-zoom  "
																	 data-type="boxed"
																	 data-number-of-posts="-1"
																	 data-number-of-columns="3"
																	 data-space-between-items="medium"
																	 data-category="bouquets"
																	 data-orderby="date" data-order="ASC"
																	 data-image-size="full"
																	 data-title-tag="h5"
																	 data-excerpt-length="11"
																	 data-post-info-section="no"
																	 data-post-info-image="yes"
																	 data-post-info-image-zoom="yes"
																	 data-post-info-image-shader="no"
																	 data-post-info-author="yes"
																	 data-post-info-date="yes"
																	 data-post-info-category="yes"
																	 data-post-info-comments="no"
																	 data-post-info-like="no"
																	 data-post-info-share="no"
																	 data-pagination-type="no-pagination"
																	 data-max-num-pages="0"
																	 data-next-page="2">
																	<div class="mkdf-bl-wrapper mkdf-outer-space">
																		<ul class="mkdf-blog-list">
																			@foreach (var item in bloglist.Take(3))
																			{
																				<li class="mkdf-bl-item mkdf-item-space clearfix">



																					<div class="mkdf-bli-inner">
																						<div class="mkdf-bli-image-holder">
																						<div class="mkdf-post-image">
																							<a itemprop="url"
																								   href="/blog/@item.Alias-@(item.PostId).html"
																							   title="Flower Power">
																								<img width="1300"
																									 height="830"
																									 src="@item.PostThumb"
																									 class="attachment-full size-full wp-post-image"
																									 alt="a"
																									 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-75x48.jpg 75w"
																									 sizes="(max-width: 1300px) 100vw, 1300px"
																									 loading="eager" />
																							</a>
																						</div>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																								   href="/blog/@item.Alias-@(item.PostId).html"
																							   title="Flower Power">
																								@item.PostTitle
																							</a>
																						</h5>
																						<div class="mkdf-bli-excerpt">
																							<div class="mkdf-post-excerpt-holder">
																								<p itemprop="description"
																								   class="mkdf-post-excerpt">
																									@item.PostContent
																								</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</li>
																			}
																			@* <li class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-image-holder">
																						<div class="mkdf-post-image">
																							<a itemprop="url"
																							   href="../../local-florists/index.html"
																							   title="Local Florists">
																								<img width="1300"
																									 height="830"
																									 src="../../wp-content/uploads/2018/05/blog-feature-img-3.jpg"
																									 class="attachment-full size-full wp-post-image"
																									 alt="a"
																									 loading="eager"
																									 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-75x48.jpg 75w"
																									 sizes="(max-width: 1300px) 100vw, 1300px" />
																							</a>
																						</div>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../local-florists/index.html"
																							   title="Local Florists">
																								Local
																								Florists
																							</a>
																						</h5>
																						<div class="mkdf-bli-excerpt">
																							<div class="mkdf-post-excerpt-holder">
																								<p itemprop="description"
																								   class="mkdf-post-excerpt">
																									Class
																									aptent
																									taciti
																									sociosqu
																									ad
																									litora
																									torquent
																									per
																									conubia
																									nostra,
																									per
																								</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</li>
																			<li class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-image-holder">
																						<div class="mkdf-post-image">
																							<a itemprop="url"
																							   href="../../flower-beauty/index.html"
																							   title="Flower Beauty">
																								<img width="1300"
																									 height="830"
																									 src="../../wp-content/uploads/2018/05/blog-feature-img-4.jpg"
																									 class="attachment-full size-full wp-post-image"
																									 alt="a"
																									 loading="eager"
																									 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-75x48.jpg 75w"
																									 sizes="(max-width: 1300px) 100vw, 1300px" />
																							</a>
																						</div>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../flower-beauty/index.html"
																							   title="Flower Beauty">
																								Flower
																								Beauty
																							</a>
																						</h5>
																						<div class="mkdf-bli-excerpt">
																							<div class="mkdf-post-excerpt-holder">
																								<p itemprop="description"
																								   class="mkdf-post-excerpt">
																									Class
																									aptent
																									taciti
																									sociosqu
																									ad
																									litora
																									torquent
																									per
																									conubia
																									nostra,
																									per
																								</p>
																							</div>
																						</div>
																					</div>
																				</div>
																			</li> *@
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mkdf-row-grid-section-wrapper ">
							<div class="mkdf-row-grid-section">
								<div class="vc_row wpb_row vc_row-fluid vc_custom_1526654930475">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div class="mkdf-blog-list-holder mkdf-bl-standard mkdf-bl-three-columns mkdf-normal-space mkdf-bl-pag-no-pagination mkdf-bl-image-zoom  mkdf-bl-date-on-image"
													 data-type="standard" data-number-of-posts="-1"
													 data-number-of-columns="3"
													 data-space-between-items="normal"
													 data-category="bouquets" data-orderby="date"
													 data-order="ASC" data-image-size="full"
													 data-title-tag="h5" data-excerpt-length="11"
													 data-post-info-section="no"
													 data-post-info-image="yes"
													 data-post-info-image-zoom="yes"
													 data-post-info-image-shader="no"
													 data-post-info-author="yes"
													 data-post-info-date-position="on-image"
													 data-post-info-date="yes"
													 data-post-info-category="yes"
													 data-post-info-comments="no"
													 data-post-info-like="no" data-post-info-share="no"
													 data-pagination-type="no-pagination"
													 data-max-num-pages="0" data-next-page="2">
													<div class="mkdf-bl-wrapper mkdf-outer-space">
														<ul class="mkdf-blog-list">
															@foreach (var item in bloglist.Take(3))
															{
																<li class="mkdf-bl-item mkdf-item-space clearfix">
																	<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																				   href="/blog/@item.Alias-@(item.PostId).html"
																			   title="Flower Power">
																				<img width="1300"
																					 height="830"
																					 src="@item.PostThumb"
																					 class="attachment-full size-full wp-post-image"
																					 alt="a"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																				   href="/blog/@item.Alias-@(item.PostId).html">
																					@item.PostDate.Value.ToString("dd/MM/yyyy")
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																				   href="/blog/@item.Alias-@(item.PostId).html"
																			   title="Flower Power">
																					@Html.Raw(@item.PostTitle)
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					@item.PostContent
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															}
															@* <li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../local-florists/index.html"
																			   title="Local Florists">
																				<img width="1300"
																					 height="830"
																					 src="../../wp-content/uploads/2018/05/blog-feature-img-3.jpg"
																					 class="attachment-full size-full wp-post-image"
																					 alt="a"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				03.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../local-florists/index.html"
																			   title="Local Florists">
																				Local Florists
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../flower-beauty/index.html"
																			   title="Flower Beauty">
																				<img width="1300"
																					 height="830"
																					 src="../../wp-content/uploads/2018/05/blog-feature-img-4.jpg"
																					 class="attachment-full size-full wp-post-image"
																					 alt="a"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				03.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../flower-beauty/index.html"
																			   title="Flower Beauty">
																				Flower Beauty
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li> *@
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="vc_row wpb_row vc_row-fluid vc_custom_1526981405672 vc_row-has-fill">
							<div class="wpb_column vc_column_container vc_col-sm-12">
								<div class="vc_column-inner">
									<div class="wpb_wrapper">
										<div class="mkdf-row-grid-section-wrapper ">
											<div class="mkdf-row-grid-section">
												<div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1526655513879">
													<div class="wpb_column vc_column_container vc_col-sm-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div class="mkdf-blog-list-holder mkdf-bl-minimal mkdf-bl-three-columns mkdf-small-space mkdf-bl-pag-no-pagination   "
																	 data-type="minimal"
																	 data-number-of-posts="-1"
																	 data-number-of-columns="3"
																	 data-space-between-items="small"
																	 data-category="bouquets"
																	 data-orderby="date" data-order="ASC"
																	 data-image-size="full"
																	 data-title-tag="h5"
																	 data-excerpt-length="40"
																	 data-post-info-section="yes"
																	 data-post-info-image="yes"
																	 data-post-info-image-zoom="no"
																	 data-post-info-image-shader="no"
																	 data-post-info-author="yes"
																	 data-post-info-date="yes"
																	 data-post-info-category="yes"
																	 data-post-info-comments="no"
																	 data-post-info-like="no"
																	 data-post-info-share="no"
																	 data-pagination-type="no-pagination"
																	 data-max-num-pages="0"
																	 data-next-page="2">
																	<div class="mkdf-bl-wrapper mkdf-outer-space">
																		<ul class="mkdf-blog-list">
																			@foreach(var item in bloglist.Take(3)){


																				
																				<li class="mkdf-bl-item mkdf-item-space clearfix">
																						<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../flower-power/index.html"
																							   title="Flower Power">
																								@Html.Raw(@item.PostTitle)
																							</a>
																						</h5>
																						<div itemprop="dateCreated"
																							 class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																							   href="../../2018/04/index.html">
																								@item.PostDate.Value.ToString("dd/MM/yyyy")
																							</a>
																							<meta itemprop="interactionCount"
																								  content="UserComments: 0" />
																						</div>
																					</div>
																				</div>
																			</li>}
																			@* <li class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../local-florists/index.html"
																							   title="Local Florists">
																								Local
																								Florists
																							</a>
																						</h5>
																						<div itemprop="dateCreated"
																							 class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																							   href="../../2018/05/index.html">
																								03.05.2018
																							</a>
																							<meta itemprop="interactionCount"
																								  content="UserComments: 0" />
																						</div>
																					</div>
																				</div>
																			</li>
																			<li class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../flower-beauty/index.html"
																							   title="Flower Beauty">
																								Flower
																								Beauty
																							</a>
																						</h5>
																						<div itemprop="dateCreated"
																							 class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																							   href="../../2018/05/index.html">
																								03.05.2018
																							</a>
																							<meta itemprop="interactionCount"
																								  content="UserComments: 0" />
																						</div>
																					</div>
																				</div>
																			</li> *@
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="wpb_column vc_column_container vc_col-sm-6">
														<div class="vc_column-inner">
															<div class="wpb_wrapper">
																<div class="mkdf-blog-list-holder mkdf-bl-simple mkdf-bl-three-columns mkdf-small-space mkdf-bl-pag-no-pagination   "
																	 data-type="simple"
																	 data-number-of-posts="-1"
																	 data-number-of-columns="3"
																	 data-space-between-items="small"
																	 data-category="bouquets"
																	 data-orderby="date" data-order="ASC"
																	 data-image-size="full"
																	 data-title-tag="h5"
																	 data-excerpt-length="13"
																	 data-post-info-section="yes"
																	 data-post-info-image="yes"
																	 data-post-info-image-zoom="no"
																	 data-post-info-image-shader="no"
																	 data-post-info-author="yes"
																	 data-post-info-date="yes"
																	 data-post-info-category="yes"
																	 data-post-info-comments="no"
																	 data-post-info-like="no"
																	 data-post-info-share="no"
																	 data-pagination-type="no-pagination"
																	 data-max-num-pages="0"
																	 data-next-page="2">
																	<div class="mkdf-bl-wrapper mkdf-outer-space">
																		<ul class="mkdf-blog-list">
																			@foreach (var item in bloglist.Take(3))
																			{
																				<li class="mkdf-bl-item mkdf-item-space clearfix">
																					<div class="mkdf-bli-inner">
																					<div class="mkdf-post-image">
																						<a itemprop="url"
																							   href="/blog/@item.Alias-@(item.PostId).html"
																						   title="Flower Power">
																							<img width="1300"
																								 height="830"
																								 src="@item.PostThumb"
																								 class="attachment-full size-full wp-post-image"
																								 alt="a"
																								 loading="eager"
																								 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-75x48.jpg 75w"
																								 sizes="(max-width: 1300px) 100vw, 1300px" />
																						</a>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																								   href="/blog/@item.Alias-@(item.PostId).html"
																							   title="Flower Power">
																								@Html.Raw(item.PostTitle)
																							</a>
																						</h5>
																						<div itemprop="dateCreated"
																							 class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																								   href="/blog/@item.Alias-@(item.PostId).html">
																								@item.PostDate.Value.ToString("dd/MM/yyyy")
																							</a>
																							<meta itemprop="interactionCount"
																								  content="UserComments: 0" />
																						</div>
																					</div>
																				</div>
																			</li>
																			}
																			@* <li class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-post-image">
																						<a itemprop="url"
																						   href="../../local-florists/index.html"
																						   title="Local Florists">
																							<img width="1300"
																								 height="830"
																								 src="../../wp-content/uploads/2018/05/blog-feature-img-3.jpg"
																								 class="attachment-full size-full wp-post-image"
																								 alt="a"
																								 loading="eager"
																								 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-3-75x48.jpg 75w"
																								 sizes="(max-width: 1300px) 100vw, 1300px" />
																						</a>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../local-florists/index.html"
																							   title="Local Florists">
																								Local
																								Florists
																							</a>
																						</h5>
																						<div itemprop="dateCreated"
																							 class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																							   href="../../2018/05/index.html">
																								03.05.2018
																							</a>
																							<meta itemprop="interactionCount"
																								  content="UserComments: 0" />
																						</div>
																					</div>
																				</div>
																			</li>
																			<li class="mkdf-bl-item mkdf-item-space clearfix">
																				<div class="mkdf-bli-inner">
																					<div class="mkdf-post-image">
																						<a itemprop="url"
																						   href="../../flower-beauty/index.html"
																						   title="Flower Beauty">
																							<img width="1300"
																								 height="830"
																								 src="../../wp-content/uploads/2018/05/blog-feature-img-4.jpg"
																								 class="attachment-full size-full wp-post-image"
																								 alt="a"
																								 loading="eager"
																								 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-4-75x48.jpg 75w"
																								 sizes="(max-width: 1300px) 100vw, 1300px" />
																						</a>
																					</div>
																					<div class="mkdf-bli-content">
																						<h5 itemprop="name"
																							class="entry-title mkdf-post-title">
																							<a itemprop="url"
																							   href="../../flower-beauty/index.html"
																							   title="Flower Beauty">
																								Flower
																								Beauty
																							</a>
																						</h5>
																						<div itemprop="dateCreated"
																							 class="mkdf-post-info-date entry-date published updated">
																							<a itemprop="url"
																							   href="../../2018/05/index.html">
																								03.05.2018
																							</a>
																							<meta itemprop="interactionCount"
																								  content="UserComments: 0" />
																						</div>
																					</div>
																				</div>
																			</li> *@
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="mkdf-row-grid-section-wrapper ">
							<div class="mkdf-row-grid-section">
								<div class="vc_row wpb_row vc_row-fluid vc_custom_1526655594210">
									<div class="wpb_column vc_column_container vc_col-sm-12">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div class="mkdf-blog-list-holder mkdf-bl-masonry mkdf-bl-three-columns mkdf-medium-space mkdf-bl-pag-no-pagination mkdf-bl-image-zoom  mkdf-bl-date-on-image"
													 data-type="masonry" data-number-of-posts="6"
													 data-number-of-columns="3"
													 data-space-between-items="medium"
													 data-category="greens" data-orderby="date"
													 data-order="DESC" data-image-size="full"
													 data-title-tag="h5" data-excerpt-length="11"
													 data-post-info-section="no"
													 data-post-info-image="yes"
													 data-post-info-image-zoom="yes"
													 data-post-info-image-shader="no"
													 data-post-info-author="yes"
													 data-post-info-date-position="on-image"
													 data-post-info-date="yes"
													 data-post-info-category="yes"
													 data-post-info-comments="no"
													 data-post-info-like="no" data-post-info-share="no"
													 data-pagination-type="no-pagination"
													 data-max-num-pages="2" data-next-page="2">
													<div class="mkdf-bl-wrapper mkdf-outer-space">
														<ul class="mkdf-blog-list">
															<li class="mkdf-bl-grid-sizer"></li>
															<li class="mkdf-bl-grid-gutter"></li>
															@foreach (var item in bloglist.Skip(3).Take(6))
															{
																<li class="mkdf-bl-item mkdf-item-space clearfix">
																	<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../say-you-care/index.html"
																			   title="Say you care">
																				<img width="1300"
																					 height="830"
																					 src="@item.PostThumb"
																					 class="attachment-full size-full wp-post-image"
																					 alt="aa"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-8-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																				   href="/blog/@item.Alias-@(item.PostId).htmll">
																				@item.PostDate.Value.ToString("dd/MM/yyyy")
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../say-you-care/index.html"
																			   title="Say you care">
																				@Html.Raw(item.PostTitle)
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					@item.PostContent
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
																</li>
															}
															@* <li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../with-impact/index.html"
																			   title="With Impact">
																				<img width="1300"
																					 height="830"
																					 src="../../wp-content/uploads/2018/05/blog-feature-img-9.jpg"
																					 class="attachment-full size-full wp-post-image"
																					 alt="a"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-9-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				04.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../with-impact/index.html"
																			   title="With Impact">
																				With Impact
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../beautifull-flowers/index.html"
																			   title="Beautifull flowers">
																				<img width="410"
																					 height="220"
																					 src="../../wp-content/uploads/2018/05/blog-masonry-img.jpg"
																					 class="attachment-full size-full"
																					 alt="a"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img.jpg 410w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-300x161.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-225x121.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-75x40.jpg 75w"
																					 sizes="(max-width: 410px) 100vw, 410px"
																					 loading="eager" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				04.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../beautifull-flowers/index.html"
																			   title="Beautifull flowers">
																				Beautifull flowers
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../flowers-anytime/index.html"
																			   title="Flowers, anytime…">
																				<img width="1300"
																					 height="830"
																					 src="../../wp-content/uploads/2018/05/blog-feature-img-5.jpg"
																					 class="attachment-full size-full wp-post-image"
																					 alt="a"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-5-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				04.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../flowers-anytime/index.html"
																			   title="Flowers, anytime…">
																				Flowers, anytime…
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../the-art-of-fresher-flowers/index.html"
																			   title="The art of fresher flowers">
																				<img width="1300"
																					 height="830"
																					 src="../../wp-content/uploads/2018/05/blog-feature-img-7.jpg"
																					 class="attachment-full size-full wp-post-image"
																					 alt="a"
																					 loading="eager"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7.jpg 1300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-300x192.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-768x490.jpg 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-feature-img-7-75x48.jpg 75w"
																					 sizes="(max-width: 1300px) 100vw, 1300px" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				04.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../the-art-of-fresher-flowers/index.html"
																			   title="The art of fresher flowers">
																				The art of fresher
																				flowers
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="mkdf-bl-item mkdf-item-space clearfix">
																<div class="mkdf-bli-inner">
																	<div class="mkdf-bli-image-holder">
																		<div class="mkdf-post-image">
																			<a itemprop="url"
																			   href="../../well-bring-the-flowers/index.html"
																			   title="We’ll bring the flowers">
																				<img width="410"
																					 height="220"
																					 src="../../wp-content/uploads/2018/05/blog-masonry-img-2.jpg"
																					 class="attachment-full size-full"
																					 alt="a"
																					 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-2.jpg 410w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-2-300x161.jpg 300w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-2-225x121.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/blog-masonry-img-2-75x40.jpg 75w"
																					 sizes="(max-width: 410px) 100vw, 410px"
																					 loading="eager" />
																			</a>
																		</div>
																		<div itemprop="dateCreated"
																			 class="mkdf-post-info-date entry-date published updated">
																			<a itemprop="url"
																			   href="../../2018/05/index.html">
																				04.05.2018
																			</a>
																			<meta itemprop="interactionCount"
																				  content="UserComments: 0" />
																		</div>
																	</div>
																	<div class="mkdf-bli-content">
																		<h5 itemprop="name"
																			class="entry-title mkdf-post-title">
																			<a itemprop="url"
																			   href="../../well-bring-the-flowers/index.html"
																			   title="We’ll bring the flowers">
																				We’ll bring the flowers
																			</a>
																		</h5>
																		<div class="mkdf-bli-excerpt">
																			<div class="mkdf-post-excerpt-holder">
																				<p itemprop="description"
																				   class="mkdf-post-excerpt">
																					Class aptent taciti
																					sociosqu ad litora
																					torquent per conubia
																					nostra, per
																				</p>
																			</div>
																		</div>
																	</div>
																</div>
															</li> *@
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
