@model TblPost
@{

	List<TblBlogComment> blogcomment = ViewBag.blogcomment;
	
}

<div class="mkdf-content">
	<div class="mkdf-content-inner">
		<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle"
			 style="height: 225px;background-color: #fafaf9" data-height="225">
			<div class="mkdf-title-wrapper" style="height: 225px">
				<div class="mkdf-title-inner">
					<div class="mkdf-grid">
						<h1 class="mkdf-page-title entry-title">Fiorello</h1>
						<span class="mkdf-page-subtitle">Where flowers are our inspiration</span>
					</div>
				</div>
			</div>
		</div>
		<div class="mkdf-container">
			<div class="mkdf-container-inner clearfix">
				<div class="mkdf-grid-row mkdf-content-has-sidebar mkdf-grid-huge-gutter">
					<div class="mkdf-page-content-holder mkdf-grid-col-9">
						<div class="mkdf-blog-holder mkdf-blog-single mkdf-blog-single-standard">
							<article id="post-288"
									 class="post-288 post type-post status-publish format-standard has-post-thumbnail hentry category-bouquets tag-bouquets tag-rose">
								<div class="mkdf-post-content">
									<div class="mkdf-post-heading">
										<div class="mkdf-post-image">
											<img width="1300" height="830"
												 src="@Model.PostThumb"
												 class="attachment-full size-full wp-post-image" alt="a"
												 srcset="@Model.PostThumb 1300w, @Model.PostThumb 300w, @Model.PostThumb 768w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-1024x654.jpg 1024w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-800x511.jpg 800w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-225x144.jpg 225w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/04/blog-feature-img-1-75x48.jpg 75w"
												 sizes="(max-width: 1300px) 100vw, 1300px" loading="eager" />
										</div>
									</div>
									<div class="mkdf-post-text">
										<div class="mkdf-post-text-inner">
											<div class="mkdf-post-text-main">
												<h3 itemprop="name" class="entry-title mkdf-post-title">
													@Html.Raw(@Model.PostTitle)
												</h3>
												@Html.Raw(@Model.PostContenDetail)
											</div>
											<div class="mkdf-post-info-bottom clearfix">
												<div class="mkdf-post-info-bottom-left">
													<div itemprop="dateCreated"
														 class="mkdf-post-info-date entry-date published updated">
														<a itemprop="url" href="../2018/04/index.html">
															@Model.PostDate
														</a>
														<meta itemprop="interactionCount"
															  content="UserComments: 2" />
													</div>
													<div class="mkdf-post-info-author">
														<span class="mkdf-post-info-author-text">
															By
														</span>
														<a itemprop="author"
														   class="mkdf-post-info-author-link"
														   href="../author/shirley_burke/index.html">
															Shirley Burke
														</a>
													</div>
													<div class="mkdf-post-info-comments-holder">
														<a itemprop="url" class="mkdf-post-info-comments"
														   href="index.html#comments" target="_self">
															<i class="icon_comment_alt"></i>
															@blogcomment.Count()
														</a>
													</div>
													<div class="mkdf-blog-like">
														<a href="#" class="mkdf-like" id="mkdf-like-288-973"
														   title="Like this">
															<i class="dripicons-heart"></i><span>4</span>
														</a>
													</div>
													<div class="mkdf-post-info-category">
														<i class="icon_ribbon_alt"></i>
														<a href="../category/bouquets/index.html"
														   rel="category tag">Bouquets</a>
													</div>
													<div class="mkdf-tags-holder">
														<div class="mkdf-tags">
															<i class="icon dripicons-tags"></i>
															<a href="../tag/bouquets/index.html"
															   rel="tag">Bouquets</a>, <a href="../tag/rose/index.html"
																						  rel="tag">Rose</a>
														</div>
													</div>
												</div>
												<div class="mkdf-post-info-bottom-right">
													<div class="mkdf-blog-share">
														<div class="mkdf-share-shifter">
															<i class="mkdf-toggle-share social_share"></i>
															<div class="mkdf-social-share-holder mkdf-list">
																<ul>
																	<li class="mkdf-facebook-share">
																		<a itemprop="url"
																		   class="mkdf-share-link" href="#"
																		   onclick="window.open(&#039;https://www.facebook.com/sharer.php?u=https%3A%2F%2Ffiorello.qodeinteractive.com%2Fflower-power%2F&#039;, &#039;sharer&#039;, &#039;toolbar=0,status=0,width=620,height=280&#039;);">
																			<span class="mkdf-social-network-icon social_facebook"></span>
																		</a>
																	</li>
																	<li class="mkdf-twitter-share">
																		<a itemprop="url"
																		   class="mkdf-share-link" href="#"
																		   onclick="window.open(&#039;https://twitter.com/intent/tweet?text=Class+aptent+taciti+sociosqu+ad+litora+torquent+per+conubia+nostra%2C+per+inceptos+himenaeos+ad.+Mauris+in+erat+justo.+ https://fiorello.qodeinteractive.com/flower-power/&#039;, &#039;popupwindow&#039;, &#039;scrollbars=yes,width=800,height=400&#039;);">
																			<span class="mkdf-social-network-icon social_twitter"></span>
																		</a>
																	</li>
																	<li class="mkdf-linkedin-share">
																		<a itemprop="url"
																		   class="mkdf-share-link" href="#"
																		   onclick="popUp=window.open(&#039;https://linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Ffiorello.qodeinteractive.com%2Fflower-power%2F&amp;title=Flower+Power&#039;, &#039;popupwindow&#039;, &#039;scrollbars=yes,width=800,height=400&#039;);popUp.focus();return false;">
																			<span class="mkdf-social-network-icon social_linkedin"></span>
																		</a>
																	</li>
																	<li class="mkdf-tumblr-share">
																		<a itemprop="url"
																		   class="mkdf-share-link" href="#"
																		   onclick="popUp=window.open(&#039;https://www.tumblr.com/share/link?url=https%3A%2F%2Ffiorello.qodeinteractive.com%2Fflower-power%2F&amp;name=Flower+Power&amp;description=Class+aptent+taciti+sociosqu+ad+litora+torquent+per+conubia+nostra%2C+per+inceptos+himenaeos+ad.+Mauris+in+erat+justo.+Nullam+ac+urna+eu+felis+dapibus+condimentum+sit+amet+a+augue.+Sed+non+neque+elit.+Sed+ut+imperdiet+nisi.+Proin+condimentum+fermentum+nunc.+Etiam+pharetra%2C+erat+sed+fermentum+feugiat%2C+velit+mauris+egestas+quam%2C+ut+aliquam+massa+nisl+quis+neque.+Suspendisse+in+orci+enim.+This+is+Photoshop%27s+version+of+Lorem+Ipsum.+Proin+gravida+nibh+vel+velit+auctor+aliquet.+Aenean+sollicitudin%2C+lorem+quis+bibendum+auctor%2C+nisi+elit+consequat+ipsum%2C+nec+sagittis+sem&#039;, &#039;popupwindow&#039;, &#039;scrollbars=yes,width=800,height=400&#039;);popUp.focus();return false;">
																			<span class="mkdf-social-network-icon social_tumblr"></span>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<div class="mkdf-blog-single-navigation">
								<div class="mkdf-blog-single-navigation-inner clearfix">
									@if (ViewBag.PreviousPost != null)
									{
										<a itemprop="url" class="mkdf-blog-single-prev"
										href="/blog/@ViewBag.PreviousPost.Alias-@(ViewBag.PreviousPost.PostId).html">
										<span class="mkdf-icon-linear-icons lnr lnr-chevron-left"></span>
										<span class="mkdf-blog-single-nav-label">previous post</span>
										</a>
									}
									@if (ViewBag.NextPost != null)
									{
										<a itemprop="url" class="mkdf-blog-single-next"
										   href="/blog/@ViewBag.NextPost.Alias-@(ViewBag.NextPost.PostId).html">
											<span class="mkdf-icon-linear-icons lnr lnr-chevron-right"></span>
											<span class="mkdf-blog-single-nav-label">next post</span>
										</a>
									}
								</div>
							</div>
							<div class="mkdf-author-description">
								@foreach (var item in blogcomment.Where(m => m.ParentId == m.PostId))
								{
									<div class="mkdf-author-description-inner">
										<div class="mkdf-author-description-content">
											<div class="mkdf-author-description-image">
												<a itemprop="url" href="../author/shirley_burke/index.html"
												title="Flower Power" target="_self">
													<img src="../wp-content/uploads/2018/04/blog-author-img.png"
													class="avatar pp-user-avatar avatar-165 photo "
													height="165" width="165" />
												</a>
											</div>
											<div class="mkdf-author-description-text-holder">
												<h4 class="mkdf-author-name vcard author">
													<a itemprop="url" href="../author/shirley_burke/index.html"
													title="Flower Power" target="_self">
														<span class="fn">
															@item.Name
														</span>
													</a>
												</h4>
												<div class="mkdf-author-text">
													<div itemprop="description">
														@item.Description
													</div>
												</div>
												<div class="mkdf-author-social-icons clearfix">
													<a itemprop="url"
													href="../../www.facebook.com/QodeInteractive/index.html"
													target="_blank">
														<span aria-hidden="true"
														class="mkdf-icon-font-elegant social_facebook mkdf-author-social-facebook mkdf-author-social-icon "></span>
													</a>
													<a itemprop="url" href="../../x.com/QodeInteractive.html"
													target="_blank">
														<span aria-hidden="true"
														class="mkdf-icon-font-elegant social_twitter mkdf-author-social-twitter mkdf-author-social-icon "></span>
													</a>
													<a itemprop="url"
													href="https://www.linkedin.com/company/qode-themes/"
													target="_blank">
														<span aria-hidden="true"
														class="mkdf-icon-font-elegant social_linkedin mkdf-author-social-linkedin mkdf-author-social-icon "></span>
													</a>
													<a itemprop="url"
													href="../../www.instagram.com/qodeinteractive/index.html"
													target="_blank">
														<span aria-hidden="true"
														class="mkdf-icon-font-elegant social_instagram mkdf-author-social-instagram mkdf-author-social-icon "></span>
													</a>
													<a itemprop="url"
													href="../../www.pinterest.com/qodeinteractive/index.html"
													target="_blank">
														<span aria-hidden="true"
														class="mkdf-icon-font-elegant social_pinterest mkdf-author-social-pinterest mkdf-author-social-icon "></span>
													</a>
													<a itemprop="url" href="../../www.tumblr.com/index.html"
													target="_blank">
														<span aria-hidden="true"
														class="mkdf-icon-font-elegant social_tumblr mkdf-author-social-tumblr mkdf-author-social-icon "></span>
													</a>
												</div>
											</div>
										</div>
									</div>
								}
							</div>
							<div class="mkdf-comment-holder clearfix" id="comments">
								<div class="mkdf-comment-holder-inner">
									<div class="mkdf-comments-title">
										<h3>Comments</h3>
									</div>
									<div class="mkdf-comments">
										<ul class="mkdf-comment-list">
											@if (blogcomment != null && blogcomment.Any())
											{
												@foreach (var item in blogcomment.Where(m => m.ParentId == null))
												{
													<div class="mkdf-comment clearfix">
														<div class="mkdf-comment-image">
															<img src="../wp-content/uploads/2018/04/blog-subscriber-img.png"
																 class="avatar pp-user-avatar avatar-96 photo"
																 height="96" width="96" />
														</div>
														<div class="mkdf-comment-text">
															<div class="mkdf-comment-info">
																<h6 class="mkdf-comment-name vcard">
																	@item.Name
																	<div class="mkdf-comment-date">
																		@item.CreatedDate?.ToString("dd/MM/yyyy") 
																</h6>
															</div>
															<div class="mkdf-text-holder">
																<p>@item.ContentComment</p>
															</div>
														</div>
													</div>
													@if (blogcomment.Any(m => m.ParentId == item.CommentId))
													{
														<ul class="children">
															@foreach (var subItem in blogcomment.Where(m => m.ParentId == item.CommentId))
															{
																<li>
																	<div class="mkdf-comment clearfix">
																		<div class="mkdf-comment-image">
																			<img src="../wp-content/uploads/2018/04/blog-subscriber-img-2.png"
																				 class="avatar pp-user-avatar avatar-96 photo"
																				 height="96" width="96" />
																		</div>
																		<div class="mkdf-comment-text">
																			<div class="mkdf-comment-info">
																				<h6 class="mkdf-comment-name vcard">
																					@subItem.Name
																					<div class="mkdf-comment-date">
																						@subItem.CreatedDate?.ToString("dd/MM/yyyy") 
																					</div>
																				</h6>
																			</div>
																			<div class="mkdf-text-holder">
																				<p>@subItem.ContentComment</p>
																			</div>
																		</div>
																	</div>
																</li>
															}
														</ul>
													}
												}
											}
											else
											{
												<p>No comments available.</p>
											}

										</ul>
									</div>
								</div>
							</div>
							<div class="mkdf-comment-form">
								<div class="mkdf-comment-form-inner">
									<div id="respond" class="comment-respond">
										<h3 id="reply-title" class="comment-reply-title">
											Post a Comment
											<small>
												<a rel="nofollow" id="cancel-comment-reply-link"
												   href="index.html#respond" style="display:none;">
													cancel
													reply
												</a>
											</small>
										</h3>
										<form action="https://fiorello.qodeinteractive.com/wp-comments-post.php"
											  method="post" id="commentform" class="comment-form">
											<textarea id="comment" placeholder="Your comment" name="comment"
													  cols="45" rows="6" aria-required="true"></textarea>
											<div class="mkdf-grid-row mkdf-grid-small-gutter">
												<div class="mkdf-grid-col-4">
													<input id="author"
														   name="author" placeholder="Your Name" type="text"
														   value aria-required="true" />
												</div>
												<div class="mkdf-grid-col-4">
													<input id="email" name="email"
														   placeholder="Your Email" type="text" value
														   aria-required="true" />
												</div>
												<div class="mkdf-grid-col-4">
													<input id="url" name="url"
														   placeholder="Website" type="text" value size="30"
														   maxlength="200" />
												</div>
											</div>
											<p class="comment-form-cookies-consent">
												<input id="wp-comment-cookies-consent"
													   name="wp-comment-cookies-consent" type="checkbox"
													   value="yes" /><label for="wp-comment-cookies-consent">
													Save my name, email,
													and website in this browser for the next time I
													comment.
												</label>
											</p>
											<p class="form-submit">
												<input name="submit" type="submit"
													   id="submit_comment" class="submit" value="Submit" />
												<input type="hidden" name="comment_post_ID" value="288"
													   id="comment_post_ID" />
												<input type="hidden" name="comment_parent"
													   id="comment_parent" value="0" />
											</p>
											<div class="wantispam-required-fields">
												<input type="hidden"
													   name="wantispam_t"
													   class="wantispam-control wantispam-control-t"
													   value="1728695268" />
												<div class="wantispam-group wantispam-group-q"
													 style="clear: both;">
													<label>
														Current ye@r <span class="required">*</span>
													</label>
													<input type="hidden" name="wantispam_a"
														   class="wantispam-control wantispam-control-a"
														   value="2024" />
													<input type="text" name="wantispam_q"
														   class="wantispam-control wantispam-control-q"
														   value="7.3.3" autocomplete="off" />
												</div>
												<div class="wantispam-group wantispam-group-e"
													 style="display: none;">
													<label>Leave this field empty</label>
													<input type="text" name="wantispam_e_email_url_website"
														   class="wantispam-control wantispam-control-e" value
														   autocomplete="off" />
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mkdf-sidebar-holder mkdf-grid-col-3">
						<aside class="mkdf-sidebar">
							<div class="widget mkdf-search-post-type-widget">
								<div data-post-type="post" class="mkdf-search-post-type">
									<input class="mkdf-post-type-search-field" value
										   placeholder="Search here">
									<i class="mkdf-search-icon icon_search" aria-hidden="true"></i>
									<i class="mkdf-search-loading fa fa-spinner fa-spin mkdf-hidden"
									   aria-hidden="true"></i>
								</div>
								<div class="mkdf-post-type-search-results"></div>
							</div>
							<div class="widget mkdf-separator-widget">
								<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal"
									 style="margin-top: -2px">
									<div class="mkdf-separator" style="border-style: solid"></div>
								</div>
							</div>
							<div id="categories-2" class="widget widget_categories">
								<div class="mkdf-widget-title-holder">
									<h6 class="mkdf-widget-title">Categories</h6>
								</div>
								<ul>
									<li class="cat-item cat-item-42">
										<a href="../category/bouquets/index.html">Bouquets</a>
									</li>
									<li class="cat-item cat-item-45">
										<a href="../category/cactuses/index.html">Cactuses</a>
									</li>
									<li class="cat-item cat-item-44">
										<a href="../category/exotic-blooms/index.html">Exotic Blooms</a>
									</li>
									<li class="cat-item cat-item-43">
										<a href="../category/greens/index.html">Greens</a>
									</li>
									<li class="cat-item cat-item-1">
										<a href="../category/plants/index.html">Plants</a>
									</li>
									<li class="cat-item cat-item-41">
										<a href="../category/roses/index.html">Roses</a>
									</li>
								</ul>
							</div>
							<div class="widget mkdf-recent-post-widget">
								<div class="mkdf-widget-title-holder">
									<h6 class="mkdf-widget-title">Recent Posts</h6>
								</div>
								<ul class="mkdf-recent-posts">
									<li class="mkdf-rp-item">
										<a href="../say-you-care/index.html">
											<div class="mkdf-rp-image">
												<img width="150" height="100"
													 src="../wp-content/uploads/2018/05/blog-feature-img-8-150x100.jpg"
													 class="attachment-thumbnail size-thumbnail wp-post-image"
													 alt="aa" loading="eager" />
											</div>
											<div class="mkdf-recent-posts-info">
												<h6 class="mkdf-rp-title">Say you care</h6><span class="mkdf-rp-date">04.05.2018</span>
											</div>
										</a>
									</li>
									<li class="mkdf-rp-item">
										<a href="../with-impact/index.html">
											<div class="mkdf-rp-image">
												<img width="150" height="100"
													 src="../wp-content/uploads/2018/05/blog-feature-img-9-150x100.jpg"
													 class="attachment-thumbnail size-thumbnail wp-post-image"
													 alt="a" loading="eager" />
											</div>
											<div class="mkdf-recent-posts-info">
												<h6 class="mkdf-rp-title">With Impact</h6><span class="mkdf-rp-date">04.05.2018</span>
											</div>
										</a>
									</li>
									<li class="mkdf-rp-item">
										<a href="../beautifull-flowers/index.html">
											<div class="mkdf-rp-image">
												<img width="150" height="100"
													 src="../wp-content/uploads/2018/05/blog-feature-img-10-150x100.jpg"
													 class="attachment-thumbnail size-thumbnail wp-post-image"
													 alt="a" loading="eager" />
											</div>
											<div class="mkdf-recent-posts-info">
												<h6 class="mkdf-rp-title">Beautifull flowers</h6><span class="mkdf-rp-date">04.05.2018</span>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="widget mkdf-separator-widget">
								<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal"
									 style="margin-top: 22px;margin-bottom: 15px">
									<div class="mkdf-separator" style="border-style: solid"></div>
								</div>
							</div>
							<div id="media_image-7" class="widget widget_media_image">
								<a href="../flower-shop/index.html">
									<img width="310" height="171"
										 src="../wp-content/uploads/2018/05/widget.jpg"
										 class="image wp-image-2278  attachment-full size-full" alt
										 style="max-width: 100%; height: auto;"
										 srcset="https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/widget.jpg 310w, https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/widget-300x165.jpg 300w"
										 sizes="(max-width: 310px) 100vw, 310px" loading="eager" />
								</a>
							</div>
						</aside>
					</div>
				</div>
			</div>
		</div>
		<div class="mkdf-content-bottom">
			<div class="mkdf-content-bottom-inner mkdf-full-width">
				<div class="widget widget_mkdf_instagram_widget"></div>
			</div>
		</div>
	</div>
</div>