@model TblCategoryProduct

@{
	List<TblProduct> productcate = ViewBag.productcate;
	List<TblCategoryProduct> productcategory = ViewBag.productcategory;
}

<div class="mkdf-content-inner">
	<div class="mkdf-title-holder mkdf-standard-type mkdf-title-va-header-bottom mkdf-title-content-va-middle"
		 style="height: 225px;background-color: #fafaf9" data-height="225">
		<div class="mkdf-title-wrapper" style="height: 225px">
			<div class="mkdf-title-inner">
				<div class="mkdf-grid">
					<h1 class="mkdf-page-title entry-title">@Model.CategoryProdName</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="mkdf-container">
		<div class="mkdf-container-inner clearfix">
			<div class="mkdf-grid-row mkdf-grid-huge-gutter">
				<div class="mkdf-page-content-holder mkdf-grid-col-9 mkdf-grid-col-push-3">
					<div class="woocommerce-notices-wrapper"></div>
					<p class="woocommerce-result-count">
						Showing all @productcate.Count() results
					</p>
					<form class="woocommerce-ordering" method="get">
						<select name="orderby" class="orderby" aria-label="Shop order">
							<option value="popularity" selected="selected">Sort by popularity</option>
							<option value="date">Sort by latest</option>
							<option value="price">Sort by price: low to high</option>
							<option value="price-desc">Sort by price: high to low</option>
						</select>
						<input type="hidden" name="paged" value="1" />
					</form>
					<div class="mkdf-pl-main-holder">
						<ul class="products columns-4">
							@foreach (var item in productcate)
							{
								<li class="product type-product post-268 status-publish first instock product_cat-cactuses product_cat-various product_tag-orchids product_tag-roses has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
									<div class="mkdf-pl-inner">
									<div class="mkdf-pl-image">
										<span class="mkdf-onsale">Sale</span>
										<img width="300" height="400"
											 src="@item.ProdThumb"
											 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
											 alt="h" loading="eager" />
										<div class="mkdf-pl-text mkdf-pl-hover-overlay">
											<div class="mkdf-pl-text-outer">
												<div class="mkdf-pl-text-inner"></div>
											</div>
										</div>
									</div><a href="/product/@item.Alias-@(item.ProdId).html"
											 class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
								</div>
								<div class="mkdf-pl-text-wrapper">
									<h6 class="mkdf-product-list-title">
											<a href="/product/@item.Alias-@(item.ProdId).html">@item.ProdName</a>
									</h6>
										<div class="mkdf-pli-price-holder">
											
											


												<p class="price">
													<del aria-hidden="true">
														<span class="woocommerce-Price-amount amount">
															<bdi>
																<span class="woocommerce-Price-currencySymbol">&#36;</span>@item.ProdPrice
															</bdi>
														</span>
													</del>
													@if (@item.ProdDiscount != 0)
													{
														<ins>
														<span class="woocommerce-Price-amount amount">
															<bdi>
																<span class="woocommerce-Price-currencySymbol">&#36;</span>@item.ProdDiscount
															</bdi>
														</span>
													</ins>
													}
													
												</p>
											
											<div class="mkdf-pl-add-to-cart mkdf-default-skin">
											<a rel="nofollow"
											   href="../../product/cactus-in-orange/index.html"
											   data-quantity="1" data-product_id="252"
											   data-product_sku="751215"
											   class="button product_type_simple ajax_add_to_cart mkdf-pl-btn">
												Read
												more
											</a>
										</div>


										</div>
							</li>
							}
@* 							<li class="product type-product post-252 status-publish outofstock product_cat-cactuses product_cat-various product_tag-irises product_tag-llilies has-post-thumbnail shipping-taxable purchasable product-type-simple">
								<div class="mkdf-pl-inner">
									<div class="mkdf-pl-image">
										<img width="300" height="400"
											 src="../../wp-content/uploads/2018/04/shop-3-img-300x400.jpg"
											 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
											 alt="g" loading="eager" /><span class="mkdf-out-of-stock">Sold</span>
										<div class="mkdf-pl-text mkdf-pl-hover-overlay">
											<div class="mkdf-pl-text-outer">
												<div class="mkdf-pl-text-inner"></div>
											</div>
										</div>
									</div><a href="../../product/cactus-in-orange/index.html"
											 class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
								</div>
								<div class="mkdf-pl-text-wrapper">
									<h6 class="mkdf-product-list-title">
										<a href="../../product/cactus-in-orange/index.html">
											Cactus In
											Orange
										</a>
									</h6>
									<div class="mkdf-price-holder">
										<span class="price">
											<span class="woocommerce-Price-amount amount">
												<bdi>
													<span class="woocommerce-Price-currencySymbol">&#36;</span>259
												</bdi>
											</span>
										</span>
										<div class="mkdf-pl-add-to-cart mkdf-default-skin">
											<a rel="nofollow"
											   href="../../product/cactus-in-orange/index.html"
											   data-quantity="1" data-product_id="252"
											   data-product_sku="751215"
											   class="button product_type_simple ajax_add_to_cart mkdf-pl-btn">
												Read
												more
											</a>
										</div>
										</div">
									</div>
							</li>
							<li class="product type-product post-319 status-publish instock product_cat-cactuses product_cat-various product_tag-roses product_tag-tulips has-post-thumbnail shipping-taxable product-type-grouped">
								<div class="mkdf-pl-inner">
									<div class="mkdf-pl-image">
										<img width="300" height="400"
											 src="../../wp-content/uploads/2018/04/shop-9-img-300x400.jpg"
											 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
											 alt="s" loading="eager" />
										<div class="mkdf-pl-text mkdf-pl-hover-overlay">
											<div class="mkdf-pl-text-outer">
												<div class="mkdf-pl-text-inner"></div>
											</div>
										</div>
									</div><a href="../../product/rock-soapwort/index.html"
											 class="woocommerce-LoopProduct-link woocommerce-loop-product__link"></a>
								</div>
								<div class="mkdf-pl-text-wrapper">
									<h6 class="mkdf-product-list-title">
										<a href="../../product/rock-soapwort/index.html">
											Rock
											Soapwort
										</a>
									</h6>
									<div class="mkdf-price-holder">
										<span class="price">
											<span class="woocommerce-Price-amount amount">
												<bdi>
													<span class="woocommerce-Price-currencySymbol">&#36;</span>259
												</bdi>
											</span>
										</span>
										<div class="mkdf-pl-add-to-cart mkdf-default-skin">
											<a rel="nofollow"
											   href="../../product/rock-soapwort/index.html"
											   data-quantity="1" data-product_id="319"
											   data-product_sku="89844"
											   class="button product_type_grouped mkdf-pl-btn">
												View
												products
											</a>
										</div>
										</div">
									</div>
							</li>
 *@
						</ul>
					</div>
				</div>
				<div class="mkdf-sidebar-holder mkdf-grid-col-3 mkdf-grid-col-pull-9">
					<aside class="mkdf-sidebar">
						<div class="widget mkdf-separator-widget">
							<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal"
								 style="margin-bottom: 0px">
								<div class="mkdf-separator" style="border-style: solid"></div>
							</div>
						</div>
						<div class="widget woocommerce widget_product_categories">
							<div class="mkdf-widget-title-holder">
								<h6 class="mkdf-widget-title">Categories</h6>
							</div>
							<ul class="product-categories">
								
								@if (productcategory != null)
								{
									@foreach (var item in productcategory)
									{
										<li class="cat-item cat-item-35">
											<a href="/product-category/@item.Alias">@item.CategoryProdName</a>
										</li>
									}
								}
								@* <li class="cat-item cat-item-36">
									<a href="../greens/index.html">Greens</a>
								</li>
								<li class="cat-item cat-item-15">
									<a href="../popular/index.html">Popular</a>
								</li>
								<li class="cat-item cat-item-28">
									<a href="../various/index.html">Various</a>
								</li>
								<li class="cat-item cat-item-38">
									<a href="../winter/index.html">Winter</a>
								</li> *@
							</ul>
						</div>
						<div class="widget woocommerce widget_recently_viewed_products">
							<div class="mkdf-widget-title-holder">
								<h6 class="mkdf-widget-title">Recently Viewed Products</h6>
							</div>
							<ul class="product_list_widget">
								<li>
									<a href="../../product/schefflera/index.html">
										<img width="300" height="400"
											 src="../../wp-content/uploads/2018/05/shop-1-img-300x400.jpg"
											 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
											 alt="h" loading="eager" /> <span class="product-title">Schefflera</span>
									</a>
									<span class="woocommerce-Price-amount amount">
										<bdi>
											<span class="woocommerce-Price-currencySymbol">&#36;</span>259
										</bdi>
									</span>
								</li>
								<li>
									<a href="../../product/summer-savory/index.html">
										<img width="300" height="400"
											 src="../../wp-content/uploads/2018/04/shop-8-img-300x400.jpg"
											 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
											 alt="l" loading="eager" /> <span class="product-title">Summer Savory</span>
									</a>
									<span class="woocommerce-Price-amount amount">
										<bdi>
											<span class="woocommerce-Price-currencySymbol">&#36;</span>259
										</bdi>
									</span>
								</li>
								<li>
									<a href="../../product/colorful-tulips/index.html">
										<img width="300" height="400"
											 src="../../wp-content/uploads/2018/05/shop-6-img-300x400.jpg"
											 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
											 alt="f" loading="eager" /> <span class="product-title">Colorful Tulips</span>
									</a>
									<span class="woocommerce-Price-amount amount">
										<bdi>
											<span class="woocommerce-Price-currencySymbol">&#36;</span>350
										</bdi>
									</span>
								</li>
							</ul>
						</div>
						<div class="widget mkdf-separator-widget">
							<div class="mkdf-separator-holder clearfix  mkdf-separator-center mkdf-separator-normal"
								 style="margin-top: -2px">
								<div class="mkdf-separator" style="border-style: solid"></div>
							</div>
						</div>
						<div class="widget woocommerce widget_price_filter">
							<div class="mkdf-widget-title-holder">
								<h6 class="mkdf-widget-title">Price</h6>
							</div>
							<form method="get"
								  action="https://fiorello.qodeinteractive.com/product-category/cactuses/">
								<div class="price_slider_wrapper">
									<div class="price_slider" style="display:none;"></div>
									<div class="price_slider_amount" data-step="10">
										<label class="screen-reader-text" for="min_price">
											Min
											price
										</label>
										<input type="text" id="min_price" name="min_price" value="150"
											   data-min="150" placeholder="Min price" />
										<label class="screen-reader-text" for="max_price">
											Max
											price
										</label>
										<input type="text" id="max_price" name="max_price" value="260"
											   data-max="260" placeholder="Max price" />
										<button type="submit" class="button">Filter</button>
										<div class="price_label" style="display:none;">
											Price: <span class="from"></span> &mdash; <span class="to"></span>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</form>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {

	<script type="text/javascript" src="~/wp-includes/js/jquery/ui/mouse.min0028.js?ver=1.13.1"
			id="jquery-ui-mouse-js"></script>
	<script type="text/javascript" src="~/wp-includes/js/jquery/ui/slider.min0028.js?ver=1.13.1"
			id="jquery-ui-slider-js"></script>
	<script type="text/javascript"
			src="~/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min823d.js?ver=7.0.0"
			id="wc-jquery-ui-touchpunch-js"></script>
	<script type="text/javascript"
			src="~/wp-content/plugins/woocommerce/assets/js/accounting/accounting.minaffb.js?ver=0.4.2"
			id="accounting-js"></script>
	<script type="text/javascript" id="wc-price-slider-js-extra">
		/* <![CDATA[ */
		var woocommerce_price_slider_params = { "currency_format_num_decimals": "0", "currency_format_symbol": "$", "currency_format_decimal_sep": ".", "currency_format_thousand_sep": ",", "currency_format": "%s%v" };
		/* ]]> */
	</script>
	<script type="text/javascript"
			src="~/wp-content/plugins/woocommerce/assets/js/frontend/price-slider.min823d.js?ver=7.0.0"
			id="wc-price-slider-js"></script>
}